@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  width: 100vw;
  background-color: #d0d0d0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.top-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: blue;*/
  padding: 10px;
  height: 15%;
}

#icones-topo-esquerda {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(113, 113, 113);
  height: 80%;
  width: 20%;
  text-align: center;
  font-family: "Sora";
  color: white;
  margin-left: 3rem;
}

#icones-topo-direita {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 1.8rem;
  margin-right: 3rem;
  /*background-color: rgb(247, 10, 10);*/
}

#saída {
  height: 2.5rem;
  cursor: pointer;
}

#foto-user {
  height: 5.5rem;
  cursor: pointer;
}

.mid-area {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  /*background-color: blueviolet;*/
  height: 70%;
}

#area-meio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  /*background-color: rgb(57, 168, 23);*/
}
/*Primeira parte do meio, lado esquerdo*/
#meio-um {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 30%;
  /*background-color: blueviolet;*/
  margin-right: 25rem;
}

#area-perfil {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: blueviolet;*/
  height: 100%;
  width: 70%;
  gap: 8px;
}

#texto-foto-perfil {
  display: flex;
  text-align: center;
  width: 70%;
}

#circulo-perfil {
  display: flex;
  align-items: center;
  float: left;
  width: 180px;
  height: 180px;
  shape-outside: circle();
  clip-path: circle();
  background: rgb(255, 255, 255);
}

#foto-perfil-descricao {
  color: black;
  font-family: Sora;
  font-weight: 700;
  font-size: 13px;
}

#texto-visualização {
  display: flex;
  text-align: center;
  width: 50%;
}

#texto-pre-visu {
  color: rgb(22, 22, 22);
  font-family: Sora;
  font-weight: 400;
  font-size: 14px;
  font-style: italic;
}

#meio-dois {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: rgb(236, 159, 15);*/
  width: 35%;
  height: 100%;
  margin-right: 30px;
}

#area-dados {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /*background-color: blueviolet;*/
  height: 100%;
  width: 100%;
  gap: 10px;
}

#info-perfil {
  display: flex;
  justify-content: center;
  align-items: center;
}

#texto-info {
  color: black;
  font-family: Sora;
  font-weight: 700;
  font-size: 16px;
}

#area-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

#dados-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 4px;
}

.caixa-form {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  background: rgb(247, 247, 247);
  border: 1px solid;
  padding: 0.6em 1em;
  width: 100%;
  border: none;
  border-radius: 7px;
  font-family: Sora;
  font-style: italic;
  font-weight: 400;
}

.label-form {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  color: rgb(22, 22, 22);
}

#area-excluir {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.botao-excluir {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(113, 113, 113);
  height: 80%;
  width: 32%;
  border-radius: 1.2rem;
  padding: 15px;
  cursor: pointer;
  border: none;
}

#texto-excluir {
  font-family: "Montserrat";
  font-weight: 600;
  color: white;
  font-size: 10px;
}

#area-texto-excluir {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  width: 100%;
}

#alerta-excluir {
  font-family: Sora;
  font-weight: 400;
  color: rgb(0, 0, 0);
  font-size: 10px;
}

#texto-perma {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

/*Parte inferior, botão de confirmação*/

.bottom-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  /*background-color: rgb(43, 214, 226);*/
  height: 15%;
}

#caixa-alterar {
  align-items: center;
  background-color: rgb(113, 113, 113);
  height: 75%;
  width: 15%;
  border-radius: 30px;
  padding: 10px;
  border: none;
  box-shadow: 0px 5px 4px 0 rgba(0, 0, 0, 0.225);
  cursor: pointer;
  font-family: "Montserrat";
  font-weight: 600;
  text-align: center;
  color: white;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(253, 253, 253);
  width: 20%;
  height: 25%;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 15%;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75%;
  padding: 20px;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
}

.buttons {
  display: flex;
  width: 100%;
  height: 30%;
}

#cancelar-button {
  background-color: #717171;
  border-bottom-left-radius: 10px;
}

#excluir-button {
  background-color: #a3a3a3;
  border-bottom-right-radius: 10px;
}

.buttons button {
  border: none;
  width: 50%;
  color: white;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 12px;
}

#text-nao {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
}
